.div{
  width: 250px ;
  height:250px;
margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color:#ccc;
text-align:center;
display:none;
  }
.mensagem {
  width: 250px ;
  height:250px;
display: table-cell;
vertical-align:middle;
text-align:center;
  }